.songinfopanel
	{
	position:relative;
	left:10%;
	top:-2%;
	width:650px;
	height:350px;
	border:3px groove orange;
	border-radius:15px;
	}
.songinfotable
	{
	position:relative;
	top:40px;
	left:50px;
	width:200px;
	}
.slicicaokvir
	{
	position:relative;
	/*left:80px;
	top:30px;*/
	width:110px;
	height:110px;
	border:2px groove blue;
	/*border-bottom:none;*/
	border-radius:5px;
	}
.slicica
	{
	width:90px;
	height:90px;
	position:relative;
	top:10px;
	left:10px;
	}
.info
	{
	position:relative;
	text-align:left;
	width:500px;
	padding-top:0px;
	left:50px;
	top:0px;
	}
.download_dugmici
	{
	position:relative;
	left:10px;
	}
.control_buttons img
	{
	width:25px;
	height:25px;
	left:160px;
	top:-22px;
	}
.comments
	{
	position:relative;
	top:-37%;
	left:60%;
	opacity:0.8;
	font-family:Tahoma;
	}
.comment_box
	{
	width:400px;
	height:80px;
	position:relative;
	left:30px;
	background-color:steelblue;
	-webkit-box-shadow:15px 12px 12px #ffffff;
	border-radius:7px;
	}