/*Autor:Vojislav Nikolic 472/09*/
.songinfopanel
	{
	position:relative;
	left:10%;
	top:-2%;
	width:600px;
	height:350px;
	border:3px groove orange;
	border-radius:15px;
	}
.songinfopanelboja
	{
	position:relative;
	left:0%;
	width:600px;
	height:350px;
	background-color:skyblue;
	border-radius:15px;
	opacity:0.1;
	}
.songinfotable
	{
	position:relative;
	top:-300px;
	left:50px;
	width:200px;
	}
.slicicaokvir
	{
	position:relative;
	/*left:80px;
	top:30px;*/
	width:110px;
	height:110px;
	border:5px groove skyblue;
	/*border-bottom:none;*/
	border-radius:5px;
	}
.slicica
	{
	width:90px;
	height:90px;
	position:relative;
	top:10px;
	left:10px;
	}
.info
	{
	position:relative;
	text-align:left;
	width:500px;
	padding-top:0px;
	left:50px;
	top:0px;
	}
.download_dugmici
	{
	position:relative;
	left:10px;
	}
.control_buttons img
	{
	width:25px;
	height:25px;
	left:160px;
	top:-22px;
	}
.comments
	{
	position:relative;
	top:-35%;
	left:60%;
	opacity:0.8;
	font-family:Tahoma;
	}
.comment_box
	{
	width:300px;
	height:80px;
	position:relative;
	left:30px;
	background-color:steelblue;
	box-shadow: 1px 1px 5px #AAAAAA;
	-webkit-box-shadow:1px 1px 5px #AAAAAA;
	border-radius:7px;
	}